.clipboard-indicator-icon.private-mode {
    color: rgba(255,255,255,0.3);
}

.ci-notification-label {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 6px;
    font-size:2em;
    padding:.5em;
    width:400px;
}

.popup-menu-item .ci-action-btn StIcon {
    icon-size:16px;
}

.ci-history-menu-section {
    max-height:450px;
}
